<title>Pending</title>

<div class="status-container">
  <div class="status">
     <p class="status-message">
       <h2>Pending</h2>
    </p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>